# CakePHP tmp content
/app/tmp/cache/*

# database configuration
/app/config/database.php

# swap et al
*~
*.swp
*.bak

# eclipse bloat
.project
.cache
.cache/*
.settings
.settings/*


#phpStorm bloat
.idea
.idea/*
