# CakePHP tmp content
/app/tmp/cache/*

# database configuration
/app/config/database.php

#ldap configuration
/app/config/ldap.php

# captcha keys
/app/config/captcha.php

# swap et al
*~
*.swp
*.bak

# eclipse bloat
.project
.cache
.cache/*
.settings
.settings/*


#phpStorm bloat
.idea
.idea/*

#images
app/webroot/img/uploads/houses/
