html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

li{
    list-style-type: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
    content: '';
    content: none;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #21759B;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color: #f0f0f0;
    font-family: 'Open Sans', Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #59a4d8;
}

img{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#debug{
    display: none;
    position: fixed;
    background-color: #333;
    padding: 24px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: auto;
/*    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;*/
    zoom: 1;
    filter: alpha(opacity=80);
    opacity: 0.8;
    z-index: 1000;
}

.debugMsg{
    margin: 0px 0px 4px 0px;
}

/*
#flashMessage{
    border: 1px solid;
    margin: 10px 0;
    padding: 15px 10px 15px 50px;
    background-repeat: no-repeat;
    background-position: 10px center;
    color: #00529B;
    background-color: #d3e3fa;
    background-image: url(../img/info.png);
}
*/

#flashMessage{
    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #fff;
    margin: -20px auto 4px auto;
    padding: 4px 8px 8px 8px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    z-index: 200;
    -moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;
}

.flashBlue{
    background-color: #5555ff;
}

.flashRed{
    background-color: #ff5555;
}

#top-menu-cont{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #ddd;
    z-index: 100;
}

#top-menu{
    padding: 6px 16px 0px 16px;
}

#top-user{
    margin: 0px 20px -4px 0px;
    overflow: hidden;
}

#container{
    margin: 60px auto 0px auto;
    padding: 0px 0px 0px 0px;
    width: 960px;
    min-height: 100%;
}

#header{
    clear: both;
    background-color: #fff;
    margin: 0px 0px 4px 0px;
    padding: 2px 0px 2px 0px;
/*    height: 20px;*/
}

#header-main{
    margin: 4px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header-title{
    margin: 0px 0px 0px 32px;
    padding: 0px 0px 0px 0px;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.menu-item{
    height: 16px;
    padding: 4px;
    overflow: hidden;
/*    color: #617e80;
    text-shadow: #777777 1px 1px 0px;*/
}

.menu-main{
    float: left;
    border-bottom: 3px solid #f0f0f0;
    margin: 2px 0px 0px 4px;
}

.menu-main:hover,.menu-footer:hover{
    border-bottom: 3px solid #59a4d8;
    background-color: #f0f0f0;
    cursor: pointer;
}

.menu-footer{
    float: right;
    border-bottom: 3px solid #f0f0f0;
    margin: 0px 12px 0px 0px;
}

.menu-user{
    float: right;
    border-bottom: 3px solid #f0f0f0;
    margin: 2px 4px 0px 0px;
}

.menu-user:hover{
    border-bottom: 3px solid #59a4d8;
    background-color: #f0f0f0;
    cursor: pointer;
}

.menu-login{
/*    border-color: transparent;*/
}

.menu-login:hover{
    border-bottom: 3px solid #dc6865;
    background-color: #f0f0f0;
}

.menu-selected{
    border-bottom: 3px solid #59a4d8;
    cursor: default;
}

.user-selected{
    border-top: 3px solid #59a4d8;
    cursor: default;
}

#main-cont{
    background-color: #fff;
    /*margin: 0px 0px 0px 0px;*/
    /*padding: 0 0 20px 0;*/
	width: 100%;
    overflow: hidden;
}

#main{
    padding: 8px;
    height: 100%;
    overflow: visible;
}

#footer{
    clear: both;
    background-color: #ddd;
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
/*    height: 148px;*/
}

#footer-main{
    position: relative;
    background-color: #fff;
/*    height: 116px;*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#footer-menu{
    margin: 12px 24px 0px 0px;
    padding: 4px 0px 4px 0px;
    height: 28px;
    overflow: auto;
}

#results{
    clear: both;
    border: 1px solid #00e;
    margin: 0px 0px 0px 0px;
    overflow: auto;
}

.result-cont{
    clear: both;
    background-color: #fff;
    margin: 20px auto;
    width: 580px;
    height: 120px;
}

.result{
    clear: both;
}

.result-photo{
    float: left;
    background-color: #eaeaea;
    margin: 12px 0px 0px 14px;
    width: 166px;
    height: 96px;
}

.result-desc{
    float: left;
    background-color: #eaeaea;
    margin: 12px 0px 0px 8px;
    width: 380px;
    height: 96px;
}

.desc-title{
    margin: 12px 0px 0px 24px;
    font-size: 1.6em;
    font-weight: bold;
}

.desc-info{
    margin: 4px 0px 0px 24px;
}

.left-title{
    background-color: #ccc;
    margin: 20px 0px 8px 24px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}

.left-form{
    clear: both;
    margin: 12px 0px 8px 6px;
}

.form-line{
    clear: both;
}

.form-input input.input-elem{
    border: 1px solid #ddd;
    padding: 2px;
    width: 75px;
    height: 14px;
}

.form-input select{
    margin: 0px 0px 0px 0px;
    font-size: 10px;
}

button{
    font-size: 10px;
    margin: 0px 8px 0px 0px;
    width: 70px;
}

.clear{
    clear: both;
}

.left-photo{
    margin: 10px auto;
    width: 160px;
    height: 100px;
}

.left-photo img{
	display:block;
	margin: 0px auto;
	text-align: center;
}

.menu-rss{
    float: right;
    border: 0px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
}

#house-view{
}

#house-description{
    margin: 16px 0px 0px 24px;
}


/*terms of use - faq*/
.terms, .faq {
/*    border: 1px solid white;*/
    padding: 10px 45px 45px 45px;
    margin: 10px auto;
    text-align: justify;
/*    background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: -6px 4px 30px #667;
    -webkit-box-shadow: -6px 4px 30px #667;
    box-shadow: -6px 4px 30px #667;
    background: url("../img/diagonal-noise.png");
	color:black;*/
}


.terms li{
	padding: 5px 0;
}

.terms ul{
    list-style-type:none;
}

.terms ul li{
    padding-bottom: 5px;
}

.terms p{
    font-weight: bold;
}


.terms h1,.faq h1 {
/*	font-size:22px;
	font-weight: bold;*/
}
.faq p{
    padding: 15px;
}

/*faq list*/
#faq{
	padding:0 0 30px 30px;
}
#faq li{
	list-style: circle;
}
.banned-msg {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 4px 0px 6px 0px;
    background-color: #f44;
    -moz-border-radius: 3px 3px 3px 3px;
    -webkit-border-top-right-radius: 3px;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-bottom-right-radius: 3px;
    -webkit-border-bottom-left-radius: 3px;
}

.terms h2, .faq h2 {
	font-size:1.2em;
	font-weight: bold;
/*	color: #4F6CA6;*/
}

/* house section */
.houseProfile {
    clear: both;
}

.house-gallery {
    margin-bottom: 6px;
    overflow: hidden;
    height: 100%;
    /*border: 1px dashed;*/
    padding: 4px;
}

.default-image {
    float: left;
}

.image-list {
    float: right;
}

.image-list ul li {
    display: inline-block;
    padding-left: 4px;
}

.house-info th {
    text-align: right;
    font-weight: bold;
}

.house-info td {
    padding: 0 5px;
}

.img-placeholder {
    border: 1px dashed #9F9E9E;
    height: 100;
    overflow: hidden;
}

.houseactions {
    margin-top: 15px;
}
.houseactions a {
    padding-right: 10px;
    font-weight: bold;
}
/* end - house section */

/*!terms fag*/

/*footer*/
.logos{
	margin: 0 auto;
	width: 300px;
	padding: 10px;
    font-size: 10px;
    color: #667;
}

.funding{
    margin: 0 auto;
    text-align: center;
}

.infos{
    margin: 8px 0px 0px 24px;
    overflow: hidden;
    width: 100%;
}

.info{
    float: left;
    margin: 16px 0px 24px 0px;
}

img.info{
    margin: 10px 4px 24px 32px;
}

.personalized-rss {
    float: right;
    background: url("../img/rss-feed-small.png") no-repeat scroll 5px 50% #FFFFFF;
    padding: 6px 10px 4px 25px;
    border: 1px solid #4F6CA6;
    border-radius: 3px;
    text-decoration: none;
}


/*profile*/

.frame {
/*    border-style: solid;
    border-width: 2px;
*/    margin: 4px auto;
    /*padding: 10px 10px 50px 10px;*/
    padding: 0.7em;
    width: 680px;
}

.title {
    clear: left;
    margin: 8px 0 8px -10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #bbbbbb 1px 1px;
}

#top-photo {
    border: 4px solid #efefef;
    background-color: #999999;
    float: right;
    /*width: 100px;*/
    /*height: 100px;*/
    margin-bottom: 4px;
}

.profile-strong {
    color: #4F6CA6;
}
.profile-big {
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.frame-container {
    margin: 16px 32px 4px 32px;
    padding-bottom: 20px;
}


/*scroll to top*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../img/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}

.required{
    background:url(../img/required.gif) top left no-repeat;
}

