html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

li{
    list-style-type: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
    content: '';
    content: none;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #21759B;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color: #f0f0f0;
    font-family: 'Open Sans', Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #59a4d8;
}

img{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

#top-menu-cont{
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #ddd;
}

#top-menu{
    padding: 6px 16px 0px 16px;
}

#top-user{
    margin: 0px 20px -4px 0px;
    overflow: auto;
}

#container{
    margin: 60px auto 0px auto;
    padding: 0px 0px 0px 0px;
    width: 960px;
    min-height: 100%;
}

#header{
    clear: both;
    background-color: #fff;
    margin: 0px 0px 4px 0px;
    padding: 2px 0px 2px 0px;
    height: 20px;
}

#header-main{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header-title{
    margin: 0px 0px 0px 32px;
    padding: 0px 0px 0px 0px;
    font-size: 1.4em;
    font-weight: bold;
    font-style: italic;
    text-align: center;
}

.menu-item,.menu-footer{
    height: 16px;
    padding: 2px;
    overflow: hidden;
/*    color: #617e80;
    text-shadow: #777777 1px 1px 0px;*/
}

.menu-main{
    float: left;
    border-bottom: 3px solid #f0f0f0;
    margin: 2px 0px 0px 4px;
}

.menu-main:hover,.menu-footer:hover{
    border-bottom: 3px solid #59a4d8;
    cursor: pointer;
}

.menu-user{
    float: right;
    border-top: 3px solid #f0f0f0;
    margin: 2px 4px 0px 0px;
}

.menu-user:hover{
    border-top: 3px solid #59a4d8;
    cursor: pointer;
}

.menu-login,.menu-login:hover{
    border-color: transparent;
}

.menu-selected{
    border-bottom: 3px solid #59a4d8/*dc6865*/;
    cursor: default;
}

.menu-footer{
    float: right;
    margin: 0px 12px 0px 0px;
}

.user-selected{
    border-top: 3px solid #59a4d8/*dc6865*/;
    cursor: default;
}

#main-cont{
    background-color: #fff;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 20px 0px;
	width: 100%;
    overflow: auto;
}

#main{
    margin: 0px 0px 0px 10px;
    padding: 8px;
    height: 100%;
    overflow: auto;
}

#leftbar{
    float: left;
    background-color: #eaeaea;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 180px;
}

#main-inner{
    float: left;
    background-color: #eaeaea;
    margin: 0px 0px 0px 2px;
    padding: 0px 0px 0px 0px;
    width: 740px;
}

#footer{
    clear: both;
    background-color: #fff;
    margin: 8px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 148px;
}

#footer-main{
    position: relative;
    background-color: #ddd;
    height: 116px;
    margin: 0px 0px 0px 0px;
    padding: 0;
}

#footer-menu{
    margin: 12px 24px 0px 0px;
    padding: 0px 0px 0px 0px;
    height: 24px;
    overflow: auto;
}

#results{
    clear: both;
    border: 1px solid #00e;
    margin: 0px 0px 0px 0px;
    overflow: auto;
}

.result-cont{
    clear: both;
    background-color: #fff;
    margin: 20px auto;
    width: 580px;
    height: 120px;
}

.result{
    clear: both;
}

.result-photo{
    float: left;
    background-color: #eaeaea;
    margin: 12px 0px 0px 14px;
    width: 166px;
    height: 96px;
}

.result-desc{
    float: left;
    background-color: #eaeaea;
    margin: 12px 0px 0px 8px;
    width: 380px;
    height: 96px;
}

.desc-title{
    margin: 12px 0px 0px 24px;
    font-size: 1.6em;
    font-weight: bold;
}

.desc-info{
    margin: 4px 0px 0px 24px;
}

.left-title{
    background-color: #ccc;
    margin: 20px 0px 8px 24px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}

.left-form{
    clear: both;
    margin: 12px 0px 8px 6px;
}

.form-line{
    clear: both;
}

.form-elem{
    float: right;
    margin: 0px 8px 12px 0px;
    font-size: 1.2em;
}

.form-label{
    margin: 2px 4px 0px 0px;
}

.form-input{
}

.form-input input{
    border: 0px;
    padding: 2px;
    width: 75px;
    height: 14px;
}

.form-input select{
    margin: 0px 0px 0px 0px;
    font-size: 10px;
}

button{
    font-size: 10px;
    margin: 0px 8px 0px 0px;
    width: 70px;
}

.clear{
    clear: both;
}

.left-photo{
    margin: 10px auto;
    width: 160px;
    height: 100px;
}

.left-photo img{
	display:block;
	margin: 0px auto;
	text-align: center;
}

.menu-rss{
    float: right;
    border: 0px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
}

#house-view{
}

#house-description{
    margin: 16px 0px 0px 24px;
}


/*terms of use - faq*/
.terms, .faq {
    border: 1px solid white;
    padding: 45px;
    background: white;
    margin: 30px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: -6px 4px 30px #667;
    -webkit-box-shadow: -6px 4px 30px #667;
    box-shadow: -6px 4px 30px #667;
    background: url("../img/diagonal-noise.png");
    text-align: justify;
	color:black;
}


.terms li{
	padding: 5px 0;
}

.terms ul{
    list-style-type:none;
}

.terms ul li{
    padding-bottom: 5px;
}

.terms p{
    font-weight: bold;
}

.terms  h1,.faq h1 {
	font-size:22px;
	font-weight: bold;
}

.terms h2,.faq h2 {
	font-size:16px;
	font-weight: bold;
}


/*!terms fag*/

/*footer logos*/

.logos{
	margin:0 auto;
	width:580px;
	padding:10px
}
/*!footer logos*/

.personalized-rss {
    float: right;
    background: url("../img/rss-feed-small.png") no-repeat scroll 5px 50% #FFFFFF;
    padding: 6px 10px 4px 25px;
    border: 1px solid #4F6CA6;
    border-radius: 3px;
    text-decoration: none;
}


/*profile*/


.frame {
    border-style: solid;
    border-width: 2px;
    margin: 4px auto;
    /*padding: 10px 10px 50px 10px;*/
    padding: 0.7em;
    width: 680px;
}

.title {
    clear: left;
    margin: 8px 0 8px -10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #bbbbbb 1px 1px;
}

#top-photo {
    border: 4px solid #efefef;
    background-color: #999999;
    float: right;
    /*width: 100px;*/
    /*height: 100px;*/
    margin-bottom: 4px;
}

.profile-strong {
color: #4F6CA6;
}
.profile-big {
font-size: 12px;
font-weight: bold;
color: #555;
}

.frame-container {
margin: 16px 32px 4px 32px;
padding-bottom: 20px;
}