html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section{
    display: block;
}

body{
    line-height: 1;
}

ol, ul{
    list-style: none;
}

li{
    list-style-type: none;
}

blockquote, q{
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after{
    content: '';
    content: none;
}

a, a:link, a:visited {
    text-decoration: none;
    color: #337;
}
table{
    border-collapse: collapse;
    border-spacing: 0;
}

body{
    background-color: #f0f0f0;
    background-image: url('../img/bg.png');
    background-repeat: repeat;
    background-attachment: fixed;
    font-family: 'Open Sans', Verdana, Tahoma, Arial, sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
    height: 100%;
    color: #000;
}

img{
    -moz-user-select: none;
    -khtml-user-select: none;
    user-select: none;
}

select{
    border: 1px solid #ddd;
    background-color: #fff;
}

textarea{
    resize: none;
}

input[type='submit']{
    background-color: #ccc;
}

.bold{
    font-weight: bold;
}

#debug{
    display: none;
    position: fixed;
    background-color: #111;
    padding: 24px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    font-size: 1.1em;
    font-weight: bold;
    color: #f0f0f0;
    overflow: auto;
/*    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -khtml-border-radius: 4px;*/
    zoom: 1;
    filter: alpha(opacity=90);
    opacity: 0.9;
    z-index: 1000;
}

.debugMsg{
    margin: 0px 0px 4px 0px;
}

.error-message{
    clear: both;
    margin: 0px 0px 8px 64px;
    color: #e00;
}

#flashMessage,#authMessage{
/*    border-left: 2px;
    border-right: 2px;
    border-bottom: 2px;
    border-style: solid;
    border-color: #fff;*/
    margin: 0px 0px 0px 0px;
    padding: 4px 8px 8px 8px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    z-index: 200;
/*    -moz-border-radius: 0px 0px 6px 6px;
    -webkit-border-bottom-right-radius: 6px;
    -webkit-border-bottom-left-radius: 6px;*/
}

.flashBlue{
    background-color: #5555ff;
}

.flashRed{
    background-color: #ff5555;
}

#authMessage{
    background-color: #ff5555;
}

#top-menu-cont{
    position: fixed;
    background-color: #444;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    z-index: 100;
}

#top-menu-cont a{
    color: #f0f0f0;
}

#top-menu{
    padding: 6px 16px 0px 16px;
}

#top-user{
    margin: 0px 20px -4px 0px;
    overflow: hidden;
}

#container{
    border: 1px solid #aaa;
    background-color: #fff;
    margin: 48px auto 24px auto;
    padding: 0px 0px 0px 0px;
    width: 960px;
    min-height: 100%;
}

#header{
    clear: both;
    background-color: #eee;
    margin: 0px 0px 0px 0px;
    padding: 6px 0px 8px 0px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
}

#header-main{
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

.header-title{
    margin: 0px 0px 0px 32px;
    padding: 0px 0px 0px 0px;
    font-size: 1.4em;
    font-weight: bold;
/*    font-style: italic;*/
    text-align: center;
    color: #555;
}

.menu-item{
    height: 16px;
    padding: 4px;
    overflow: hidden;
    color: #f0f0f0;
/*    text-shadow: #777777 1px 1px 0px;*/
}

.menu-logo{
    float: left;
    margin: -4px 32px 0px 8px;
    width: 135px;
    overflow: hidden;
}

.menu-main{
    float: left;
    border-bottom: 3px solid #aaa;
    margin: 2px 0px 0px 4px;
}

.menu-main:hover{
    border-bottom: 3px solid #12a9f9;
    background-color: #555;
    cursor: pointer;
}

.menu-footer{
    float: right;
    border-bottom: 3px solid #aaf;
    margin: 0px 12px 0px 0px;
}

.menu-footer:hover{
    border-bottom: 3px solid #12a9f9;
    background-color: #57a;
    cursor: pointer;
}

.menu-user{
    float: right;
    border-bottom: 3px solid #aaa;
    margin: 2px 4px 0px 0px;
}

.menu-user:hover{
    border-bottom: 3px solid #12a9f9;
    background-color: #555;
    cursor: pointer;
}

.menu-login{
/*    border-color: transparent;*/
}

.menu-login:hover{
    border-bottom: 3px solid #f96213;
    background-color: #5;
}

.menu-selected{
    border-bottom: 3px solid #12a9f9;
    cursor: default;
}

.user-selected{
    border-top: 3px solid #12a9f9;
    cursor: default;
}

#main-cont{
    background-color: #fff;
	width: 100%;
    overflow: hidden;
}

#main{
    padding: 16px 0px 16px 0px;
    width: 100%;
    overflow: hidden;
}

#leftbar{
    float: left;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    overflow: hidden;
}

.leftGeneral{
    width: 300px;
}

.leftManage{
    width: 280px;
}

.leftSearch{
    width: 340px;
}

#main-inner{
    float: left;
    border-left: 1px solid #ddd;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    min-height: 600px;
    overflow: hidden;
}

.mainGeneral{
    width: 659px;
}

.mainManage{
    width: 679px;
}

.mainSearch{
    width: 619px;
}

.mainCenter{
    border-top: 6px solid #ddd;
    background-color: #fff;
    background: -moz-linear-gradient(top, #f4f4f4, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#fff));
    margin: 24px auto 24px auto;
    padding: 32px 32px 32px 48px;
    width: 500px;
    font-size: 1.1em;
    overflow: hidden;
}

#footer{
    clear: both;
    background-color: #469;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
/*    height: 148px;*/
}

#footer-main{
    position: relative;
    background-color: #fff;
/*    height: 116px;*/
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}

#footer-menu{
    margin: 0px 24px 0px 0px;
    padding: 4px 0px 4px 0px;
    height: 28px;
    overflow: auto;
}

#footer-menu a{
    color: #f0f0f0;
}

#results{
    clear: both;
    margin: 0px auto;
    width: 580px;
    overflow: hidden;
}

.result-cont{
    clear: both;
    border: 1px solid #aaa;
    border-top: 5px solid #aaa;
    background-color: #fff;
    background: -moz-linear-gradient(top, #f4f4f4, #fff);
    background: -webkit-gradient(linear, left top, left bottom, from(#f4f4f4), to(#fff));
    margin: 8px 0px 0px 0px;
    padding: 2px 0px 0px 0px;
    width: 578px;
    height: 120px;
    overflow: hidden;
}

.result{
    clear: both;
}

.role{
    position: relative;
    top: -2px;
    left: 500px;
    margin: -2px 0px 0px 0px;
    width: 78px;
    height: 14px;
    color: #fff;
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    text-shadow: #333 1px 1px 1px;
}

.student{
    background-color: #12A9F9;
}

.realestate{
    background-color: #f96213;
}

.owner{
    background-color: #50d07d;
}

.contStudent{
    border-top: 6px solid #12A9F9;
}

.contRE{
    border-top: 6px solid #f96213;
}

.contOwner{
    border-top: 6px solid #50d07d;
}

.resultStudent{
    border-color: #12A9F9;
}

.resultRE{
    border-color: #f96213;
}

.resultOwner{
    border-color: #50d07d;
}

.result-photo{
    float: left;
/*    background-color: #fff;*/
    margin: 0px 0px 0px 14px;
    width: 177px;
}

.result-photo-wrap{
    display: table;
	vertical-align: middle;
}

.result-photo-cont{
	position: relative;
	vertical-align: middle;
	display: table-cell;
	height: 100px;
}

.result-photo-inner{
	width: 177px;
	height: 100px;
	overflow: hidden;
}

.result-photo-inner img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.result-desc{
    float: left;
/*    background-color: #fff;*/
    margin: 0px 0px 0px 4px;
    width: 380px;
    height: 100px;
}

.result-myself{
    background-image: url('../img/canvas.png');
}

.desc-title{
    margin: 12px 0px 0px 24px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
}

.desc-info{
    margin: 4px 0px 0px 24px;
}

.left-title{
    background-color: #ccc;
    margin: 20px 0px 8px 24px;
    font-size: 1.3em;
    font-weight: bold;
    cursor: pointer;
}

.left-form{
    clear: both;
    margin: 12px 0px 8px 6px;
}

.form-line{
    clear: both;
}

.form-input input.input-elem{
    border: 1px solid #ddd;
    padding: 2px;
    width: 75px;
    height: 14px;
}

.form-input select{
    margin: 0px 0px 0px 0px;
/*    font-size: 10px;*/
}

.clear{
    clear: both;
}

.left-photo{
    margin: 10px auto;
    width: 160px;
    height: 100px;
}

.left-photo img{
	display:block;
	margin: 0px auto;
	text-align: center;
}

.menu-rss{
    float: right;
    border: 0px;
    margin: 0px 8px 0px 0px;
    cursor: pointer;
}

#house-view{
}

#house-description{
    margin: 16px 0px 0px 24px;
}


/*terms of use - faq*/
.terms, .faq {
/*    border: 1px solid white;*/
    padding: 10px 45px 45px 45px;
    margin: 10px auto;
    text-align: justify;
/*    background: white;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: -6px 4px 30px #667;
    -webkit-box-shadow: -6px 4px 30px #667;
    box-shadow: -6px 4px 30px #667;
    background: url("../img/diagonal-noise.png");
	color:black;*/
}


.terms li{
	padding: 5px 0;
}

.terms ul{
    list-style-type:none;
}

.terms ul li{
    padding-bottom: 5px;
}

.terms p{
    font-weight: bold;
}


.terms h1,.faq h1 {
/*	font-size:22px;
	font-weight: bold;*/
}
.faq p{
    padding: 15px;
}

/*faq list*/
#faq{
	padding:0 0 30px 30px;
}
#faq li{
	list-style: circle;
}
.banned-msg {
    color: #fff;
    font-weight: bold;
    text-align: center;
    margin: 0px auto 0px auto;
    padding: 4px 0px 6px 0px;
    background-color: #f44;
}

.terms h2, .faq h2 {
	font-size:1.2em;
	font-weight: bold;
/*	color: #4F6CA6;*/
}

/* house section */
.houseProfile {
    clear: both;
}

.house-gallery {
    margin-bottom: 6px;
    overflow: hidden;
    height: 100%;
    /*border: 1px dashed;*/
    padding: 4px;
}

.default-image {
    float: left;
}

.image-list {
    float: right;
}

.image-list ul li {
    display: inline-block;
    padding-left: 4px;
}

.house-info th {
    text-align: right;
    font-weight: bold;
}

.house-info td {
    padding: 0 5px;
}

.img-placeholder {
    border: 1px dashed #9F9E9E;
    height: 100;
    overflow: hidden;
}

.houseactions {
    margin-top: 15px;
}
.houseactions a {
    padding-right: 10px;
    font-weight: bold;
}
/* end - house section */

/*!terms fag*/

/*footer*/
.logos{
	margin: 0 auto;
	width: 300px;
	padding: 10px;
    font-size: 10px;
    color: #667;
}

.funding{
    margin: 0 auto;
    text-align: center;
}

.infos{
    margin: 8px 0px 0px 24px;
    overflow: hidden;
    width: 100%;
}

.info{
    float: left;
    margin: 16px 0px 24px 0px;
}

img.info{
    margin: 10px 4px 24px 32px;
}

.personalized-rss {
    float: right;
    background: url("../img/rss-feed-small.png") no-repeat scroll 5px 50% #FFFFFF;
    padding: 6px 10px 4px 25px;
    border: 1px solid #4F6CA6;
    border-radius: 3px;
    text-decoration: none;
}


/*profile*/

.frame {
/*    border-style: solid;
    border-width: 2px;
*/    margin: 4px auto;
    /*padding: 10px 10px 50px 10px;*/
    padding: 0.7em;
    width: 680px;
}

.title {
    clear: left;
    margin: 8px 0 8px -10px;
    font-size: 20px;
    font-weight: bold;
    text-shadow: #bbbbbb 1px 1px;
}

#top-photo {
    border: 4px solid #efefef;
    background-color: #999999;
    float: right;
    /*width: 100px;*/
    /*height: 100px;*/
    margin-bottom: 4px;
}

.profile-strong {
    color: #4F6CA6;
}
.profile-big {
    font-size: 12px;
    font-weight: bold;
    color: #555;
}

.frame-container {
    margin: 16px 32px 4px 32px;
    padding-bottom: 20px;
}


/*scroll to top*/
#toTop {
	display:none;
	text-decoration:none;
	position:fixed;
	bottom:10px;
	right:10px;
	overflow:hidden;
	width:51px;
	height:51px;
	border:none;
	text-indent:-999px;
	background:url(../img/ui.totop.png) no-repeat left top;
}

#toTopHover {
	background:url(../img/ui.totop.png) no-repeat left -51px;
	width:51px;
	height:51px;
	display:block;
	overflow:hidden;
	float:left;
	opacity: 0;
	-moz-opacity: 0;
	filter:alpha(opacity=0);
}

#toTop:active, #toTop:focus {
	outline:none;
}

.required{
    background:url(../img/required.gif) top left no-repeat;
}

/* GENERAL */
.titleFont{
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    color: #333;
}

.font12{
    font-size: 1.2em;
}

.font14{
    font-size: 1.4em;
}

/* LOGIN */
#loginView .loginContent{
    margin: 0px auto 0px auto;
    padding: 8px 0px 0px 0px;
    width: 340px;
}

#loginView .loginCredential{
    margin: 0px 0px 16px 0px;
}

#loginView .loginCredential .input label{
    display: block;
    margin: 0px 0px 4px 0px;
    padding: 4px 0px 0px 0px;
}

#loginView .loginCredential .input input{
    border: 1px solid #ddd;
}

#loginView .loginInputCredential{
    border: 0px;
    margin: 6px 8px 0px 0px;
    padding: 6px;
}

#loginView #loginRegistration{
    margin: 0px 0px 16px 0px;
    padding: 8px 0px 0px 0px;
    text-align: right;
}

#loginView .loginCredential .required{
    background: none;
}

#loginView .loginCredential .button{
    border: 0px;
    width: 100px;
    height: 24px;
    cursor: pointer;
}

/* SEARCH */

.form-title{
    clear: both;
    margin: 16px 0px 0px 0px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
}

.leftSearch .left-form-cont{
    margin: 0px auto;
    width: 320px;
}

.left-form ul{
    margin: 0px 0px 20px 0px;
}

.leftSearch .form-buttons{
    margin: 10px auto;
    padding: 0px 0px 64px 0px;
}

.leftSearch .form-elem{
    margin: 0px 0px 12px 0px;
    font-size: 1.2em;
}

.leftSearch .form-label{
    float: left;
    width: 100px;
}

.form-input-house{
    float: left;
    width: 200px;
    overflow: hidden;
}

.form-input-profile{
    float: left;
    width: 140px;
    overflow: hidden;
}

.form-input .input-municipality{
    width: 200px;
}

.form-checkbox{
    width: 220px;
}

.form-submit{
    float: left;
    padding: 0px 4px 0px 4px;
}

.button{
    border: 0px;
    width: 100px;
    height: 24px;
    cursor: pointer;
}

.search-title{
    margin: 12px auto 0px auto;
    text-align: center;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.4em;
    font-weight: bold;
    color: #333;
}

.search-subtitle{
    margin: 8px auto 24px auto;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.pagination{
    margin: 12px auto 12px auto;
    text-align: center;
}

.pagination ul li{
    display: inline;
}

.pagination ul li.current{
    border: 1px solid #59A4D8;
    padding: 0px 2px 0px 2px;
    font-weight: bold;
}

.pagination ul li.disabled{
    color: #aaa;
}

.mainSearch h3{
    font-size: 12px;
    font-style: italic;
    text-align: center;
    margin: -10px auto 24px;
}

.fbIcon{
    margin: 0px 4px 0px 0px;
    vertical-align: -30%;
}

.facebook-post{
    float: right;
    margin: 8px 12px 0px 0px;
}

ul.collapsible{
    display: none;
}

.form-collapse{
    background-image: url('../img/arrows.png');
    background-position: 98% 0px;
    background-repeat: no-repeat;
    height: 16px;
    cursor: pointer;
}

/* MANAGE */
.form-title{
    clear: both;
    margin: 16px 0px 16px 8px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

.left-form-cont{
    margin: 0px auto;
    width: 240px;
}

.left-form-cont-house{
    margin: 0px auto; 
    width: 320px;
}

.left-form ul{
    margin: 16px 0px 20px 0px;
}

.form-buttons{
    margin: 10px 0px 0px 0px;
}

.form-elem{
    margin: 0px 8px 8px 0px;
    font-size: 1.2em;
}

.form-label{
    float: left;
    width: 100px;
}

.form-input{
    float: left;
    overflow: hidden;
}

.form-input input[type='checkbox']{
    margin: 0px 8px 0px 0px;
}

.form-submit{
    float: left;
    margin: 8px 0px 0px 0px;
}

.button{
    border: 0px;
    margin: 16px 0px 0px 16px;
    width: 100px;
    height: 24px;
    cursor: pointer;
}

.buttonAdd{
    background-color: #ccc;
    padding: 4px 12px 4px 12px;
}

.button a,.button a:link,.button a:visited{
    color: #000;
}

.search-title{
    text-align: center;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
}

.search-subtitle{
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
}

.pagination{
    margin: 0px auto 12px auto;
    text-align: center;
}

.pagination ul li{
    display: inline;
}

.pagination ul li.current{
    border: 1px solid #59A4D8;
    padding: 0px 2px 0px 2px;
    font-weight: bold;
}

.pagination ul li.disabled{
    color: #aaa;
}

.housetable{
    margin: 0px auto 0px auto;
    width: 600px;
}

.usertable{
    margin: 0px auto 0px auto;
    width: 660px;
}

.colodd{
    background-color: #f3f3f3;
}

.rowodd{
    background-color: #f3f3f3;
}

.rowtitle{
    border-top: 3px solid #aaa;
    border-bottom: 1px solid #aaa;
    margin: 0px 0px 8px 0px;
    font-weight: bold;
    text-decoration: none;
}

.row{
    clear: both;
    height: 100%;
    overflow: hidden;
}

.col{
    float: left;
    margin: 0px 4px 0px 0px;
    padding: 4px;
    text-align: center;
}

.num{
    width: 12px;
}

.manage-address{
    width: 180px;
    overflow: hidden;
}

.manage-type{
    width: 100px;
}

.manage-area{
    width: 60px;
}

.manage-price{
    width: 50px;
}

.manage-delete{
    width: 100px;
    text-align: center;
}

.admpaginator{
    clear: both;
    margin: 20px auto 20px auto;
    text-align: center;
}

.uname-re{
    width: 60px;
}

.uname-user{
    width: 110px;
}

.fname,.lname{
    width: 110px;
}

.cname{
    width: 140px;
}

.email{
    width: 180px;
}

.banned,.enabled{
    width: 60px;
}

.admpaginator{
    clear: both;
    margin: 20px auto 20px auto;
    text-align: center;
}

.optionUnbanned{
    background-image: url('../img/unlock_16.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
}

.optionUnbanned:hover{
    background-image: url('../img/lock_16.png');
}

.optionBanned{
    background-image: url('../img/lock_16.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
}

.optionBanned:hover{
    background-image: url('../img/unlock_16.png');
}

.optionEnabled{
    background-image: url('../img/accept_16.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
}

.optionEnabled:hover{
    background-image: url('../img/delete_16.png');
}

.optionDisabled{
    background-image: url('../img/delete_16.png');
    background-position: 50% 50%;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: 16px;
    height: 16px;
    text-indent: -9999px;
}

.optionDisabled:hover{
    background-image: url('../img/accept_16.png');
}

/* FAQ */
.faqitem{
    margin: -40px 0px 0px 0px;
    padding: 48px 0px 0px 0px;
}

/* DISPLAY */
.sectionTitle{
    clear: both;
    padding: 24px 0px 8px 8px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    color: #333;
}

#lastPreferred,#lastModified{
    margin: 8px auto 16px auto;
    width: 580px;
}

/* VIEWS */
#houseCont{
    margin: 0px 0px 0px 0px;
    padding: 32px;
    overflow: hidden;
    height: 100%;
}

.housePic{
    float: left;
    padding: 2px;
    width: 180px;
    height: 100px;
    overflow: hidden;
}

.profileHousePic{
    margin: 0px auto;
    padding: 2px;
    width: 180px;
    height: 100px;
    overflow: hidden;
}

#profilePic{
    margin: 0px auto;
    padding: 2px;
    width: 100px;
    height: 100px;
    overflow: hidden;
}

#owner-info{
    margin: 32px 0px 0px 0px;
}

/* HOUSE VIEW */
#houseView{
    margin: -16px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: 100%;
}

#houseView .profileTitle{
    margin: 0px 0px 4px 0px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

#houseView #houseEdit{
    clear: both;
    margin: 0px 0px 0px 44px;
}

#houseView .houseTitle{
    margin: 0px 0px 16px 18px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

#houseView .houseClear{
    clear: both;
}

#houseView .houseLine{
    padding: 6px;
    overflow: hidden;
}

#houseView .houseLineLong{
    width: 340px;
}

#houseView .houseLineShort{
    width: 160px;
}

#houseView .houseProperty{
    float: left;
    text-align: right;
}

#houseView .houseV{
    width: 130px;
}

#houseView .houseC{
    width: 140px;
}

#houseView .houseValue{
    float: left;
    margin: 0px 0px 0px 8px;
}

#houseView .houseCheck{
    background-image: url('img/check.png');
    background-repeat: no-repeat;
    margin: 0px 0px 0px 8px;
    width: 12px;
    height: 12px;
    text-indent: -9999px;
}

#houseView .houseCheckFalse{
    background-position: 0px -12px;
}

#houseView .houseCheckTrue{
    background-position: 0px 0px;
}

#houseView .houseOdd{
    background-color: #eef;
}

#houseView #housePropertiesCont{
    margin: 0px 0px 0px 16px;
}

#houseView .housePropertiesCol{
    float: left;
    margin: 0px 8px 16px 0px;
}

#houseView .houseOptions{
    margin: 16px 0px 0px 0px;
}

#houseView .liimage{
    float: left;
    margin: 0px 0px 0px 4px;
}

#houseView #imageList{
    margin: 0px 0px 0px 0px;
    padding: 24px 0px 24px 16px;
    height: 100px;
    overflow: hidden;
}

#houseView .imageThumbCont{
    width: 180px;
    height: 100px;
    overflow: hidden;
}

#houseView .default-image{
    height: 100%;
    overflow: hidden;
}

#houseView #houseInfo{
    margin: 0px 0px 0px 0px;
    padding: 24px 0px 0px 0px;
}

#houseView .optionIcon{
    margin: 0px 4px 0px 0px;
    vertical-align: -30%;
}

#houseView #houseMap{
    clear: both;
    margin: 32px 0px 32px 0px;
}

#houseView .map{
    margin: 0px auto;
    width: 300px;
    height: 220px;
}

/* ADD/EDIT HOUSE VIEW */
#addEditHouseView .centerImage{
    margin: 0px auto;
}

#addEditHouseView .edit-title{
    margin: 12px 0px 24px 24px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.3em;
    font-weight: bold;
    color: #333;
}

#addEditHouseView .input{
    clear: both;
    padding: 3px 0;
}

#addEditHouseView .input .short{
    width: 40px;
}

#addEditHouseView .required {
    background: url("img/required.gif") no-repeat scroll 160px -2px transparent;
}

#addEditHouseView .input label{
    float: left;
    margin: 0px 8px 16px 0px;
    width: 160px;
    text-align: right;
}

#addEditHouseView .input.checkbox{
    margin: 0px 0px 0px 96px;
}

#addEditHouseView .checkbox label{
    width: auto;
    text-align: left;
}

#addEditHouseView .checkbox input{
    border: 1px solid #ddd;
}

#addEditHouseView .input input{
    float: left;
    border: 1px solid #ddd;
    margin: 0px 8px 16px 6px;
    font-family: 'Open Sans',Verdana,Tahoma,Arial,sans-serif;
    font-size: 10px;
}

#addEditHouseView .input select{
    float: left;
    border: 1px solid #ddd;
    margin: 0px 8px 16px 6px;
    font-family: 'Open Sans',Verdana,Tahoma,Arial,sans-serif;
    font-size: 10px;
}

#addEditHouseView .input textarea{
    float: left;
    border: 1px solid #ddd;
    margin: 0px 8px 16px 6px;
    font-family: 'Open Sans',Verdana,Tahoma,Arial,sans-serif;
    font-size: 10px;
}

#addEditHouseView .submit{
    clear: both;
    margin: 0px 0px 0px 48px;
}

#addEditHouseView .submit input{
    border: 0 none;
    margin: 16px 0px 0px 0px;
    padding: 4px;
    cursor: pointer;
}

#addEditHouseView #mapDiv{
    clear: both;
    border: 1px solid #eee;
    background-color: #f9f9f9;
    margin: 16px 24px 16px 24px;
    padding: 8px;
}

#addEditHouseView .mapMarker{
    margin: 0px 0px 8px 12px;
    padding: 4px;
}

#addEditHouseView .map{
    padding: 0px 0px 0px 10px;
    margin: 7px 0 0 0;
    height: 250px;
}

/* PROFILE VIEW */
#profileView #profileCont{
    margin: 0px 0px 0px 0px;
    padding: 32px;
    text-align: center;
}

#profileView #profileEdit{
    margin: 32px 0px 0px 12px;
    text-align: center;
}

#profileView #profileBan{
    margin: 32px auto 0px auto;
}

#profileView .profileClear{
    clear: both;
}

#profileView .profileBlock{
    float: left;
    margin: 0px 32px 64px 0px;
    padding: 0px 8px 0px 8px;
    width: 240px;
    overflow: hidden;
}

#profileView .profileTitle{
    margin: 24px 0px 8px 18px;
    font-family: 'Didact Gothic', Verdana, Tahoma, Arial, sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
}

#profileView .profileInfo{
    float: left;
    margin: 0px 0px 16px 24px;
    font-size: 1.0em;
}

#profileView .profileOptions{
    margin: 16px 0px 0px 0px;
}

#profileView .optionIcon{
    margin: 0px 4px 0px 0px;
    vertical-align: -30%;
}

#profileView #myHouse{
    width: 500px;
}

#profileView #myHousePic{
    margin: 0px 0px 0px 24px;
}

#profileView #myHouseInfo{
    margin: 24px 0px 0px 24px;
}

/* REAL ESTATE VIEW */
#realestateView #profileEdit{
    margin: 16px 0px 0px 0px;
}

#realestateView #profileRss,#profileBan{
    margin: 16px 0px 0px 0px;
}

#realestateView #profileRss img,#profileBan img{
    margin: 0px 4px 0px 0px;
}

#realestateView .profileClear{
    clear: both;
}

#realestateView .profileBlock{
    float: left;
    margin: 0px 64px 64px 16px;
    padding: 0px 8px 0px 8px;
}

#realestateView .profileTitle{
    margin: 12px 0px 8px 18px;
    font-size: 1.2em;
    font-weight: bold;
}

#realestateView .profileInfo{
    margin: 0px 0px 0px 24px;
    font-size: 1.0em;
}

/* REGISTER VIEW */
#registerView{
    margin: 0px auto 20px auto;
    width: 600px;
    overflow: hidden;   
}

#registerView .form-title{
    clear: both;
    margin: 16px 0px 32px 8px;
    font-size: 1.2em;
    font-weight: bold;
}

#registerView ul{
}

#registerView .form-center{
    margin: 8px auto;
    text-align: center;
}

#registerView .form-buttons{
    margin: 20px auto;
    width: 220px;
}

#registerView .form-elem{
    margin: 0px 8px 12px 0px;
    font-size: 1.2em;
}

#registerView .form-label{
    float: left;
    width: 160px;
    text-align: right;
}

#registerView .form-input{
    float: left;
    width: 250px;
    overflow: hidden;
}

#registerView .form-submit{
    float: left;
}

#registerView .button{
    border: 0px;
    width: 100px;
    height: 24px;
    cursor: pointer;
}

#registerView .form-input input.input-elem{
    border: 1px solid #ddd;
    padding: 2px;
    width: 220px;
    height: 14px;
}

#registerView .form-input textarea.input-elem{
    border: 1px solid #ddd;
    padding: 2px;
    width: 220px;
}

#registerView .formCheckbox{
    margin: 8px 8px 8px 0px;
}

#registerView .checkLabel{
    padding: 0px 10px 0px 0px;
}

#registerView .register-form-comment {
    font-size: 0.8em;
    font-style: italic;
    margin: 2px 0px 0px 0px;
}

#registerView .required {
    background: url("../img/required.gif") no-repeat scroll right top transparent;
}

/* PROFILE EDIT VIEW */
#profileEditView #profileName{
    margin: 16px 0px 0px 0px;
    text-align: center;
    font-size: 1.2em;
    font-weight: bold;
}

#profileEditView #profileEmail{
    margin: 8px 0px 0px 0px;
    text-align: center;
    font-size: 1.2em;
}

#profileEditView .profileFrame{
    clear: both;
    padding: 0px 0px 24px 0px;
}

#profileEditView .editTitle{
    margin: 0px 0px 24px 16px;
    font-size: 1.2em;
    font-weight: bold;
}

#profileEditView .editSubTitle{
    margin: 0px 0px 8px 32px;
    font-size: 1em;
    font-weight: bold;
}

#profileEditView .avatarLabel{
    margin: 0px 0px 8px 32px;
}

#profileEditView #avatarField{
    margin: 0px 0px 16px 32px;
}

#profileEditView #avatarField label{
    display: none;
}

#profileEditView #avatarField.file input{
    border: 1px solid #ddd;
}

#profileEditView .error-message{
    margin: 4px 0px 0px 0px;
    color: #f00;
}

#profileEditView .input select{
    border: 1px solid #ddd;
    padding: 4px;
    font-size: 12px;
}

#profileEditView .textarea label {
    float: left;
}

#profileEditView .input{
    clear: both;
    padding: 3px 0;
}

#profileEditView .radio,.checkbox{
    margin: 12px 0px 16px 64px;
}

#profileEditView .input label{
    float: left;
    margin: 8px 12px 0px 0px;
    width: 160px;
    text-align: right;
}

#profileEditView .checkbox input{
    float: left;
    margin: 8px 0px 0px 8px;
}

#profileEditView .checkbox label{
    float: left;
    margin: 8px 0px 0px 8px;
    width: auto;
}

#profileEditView .input input[type=text]{
    border: 1px solid #ddd;
    padding: 4px;
}

#profileEditView .longBox{
    width: 100px;
}

#profileEditView .shortBox{
    width: 30px;
}

#profileEditView .button{
    border: 0px;
    margin: 16px 0px 16px 24px;
    width: 100px;
    height: 24px;
    cursor: pointer;
}

#profileEditView .required{
    background-position: 160px 4px;
}

/* ISSUE REPORT VIEW */
#issueView .form-title{
    clear: both;
    margin: 16px 0px 32px 8px;
}

#issueView .form-center{
    margin: 8px auto;
    text-align: center;
}

#issueView .form-buttons{
    margin: 20px auto;
    width: 220px;
}

#issueView .form-elem{
    margin: 0px 8px 12px 0px;
}

#issueView .form-label{
    float: left;
    width: 100px;
    text-align: right;
}

#issueView .form-input{
    float: left;
    width: 310px;
    overflow: hidden;
}

#issueView .form-submit{
    float: left;
    padding: 24px 0px 0px 0px;
}

#issueView .button{
    border: 0px;
    width: 100px;
    height: 24px;
    cursor: pointer;
}

#issueView .form-input input.input-elem{
    border: 1px solid #ddd;
    padding: 2px;
    width: 300px;
    height: 14px;
}

#issueView .form-input textarea.input-elem{
    border: 1px solid #ddd;
    padding: 2px;
    width: 300px;
}

