cake.bat
.DS_Store
.project
.buildpath
.settings/*

config/core.php
config/database.php
tmp/*
tmp/logs/*
tmp/sessions/*
tmp/tests/*
tmp/cache/*
!tmp/cache/empty
tmp/cache/models/*
!tmp/cache/models/empty
tmp/cache/persistent/*
!tmp/cache/persistent/empty
tmp/cache/views/*
!tmp/cache/views/empty
